<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Imperium Investment Management</title>
		<meta
			name="description"
			content="Investment Management is an investment platform that provides access to secure transaction and top notch investment information"
		/>
		<meta
			name="keywords"
			content="Imperium Investment Management, forex trading, Cryptocurrency, Stock market, Imperium, Investment, Management"
		/>
		<link rel="icon" href="/img/favicon.ico" />
		<link rel="stylesheet" href="/css/styles.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
			integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
			rel="stylesheet"
			name=""
			id=""
		/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body>
		<%- include('./partials/nav.ejs') %>
		<br />

		<section class="account-form">
			<h2>Sign Up</h2>
			<%- include('./partials/messages.ejs') %>

			<div class="account-form-div">
				<form action="/signup" method="POST">
					<div>
						<input
							type="text"
							placeholder="Your First Name"
							class="account-input"
							name="firstName"
							id="firstName"
							value="<%= typeof firstName != "undefined" ? firstName : '' %> "
						/>
					</div>
					<div>
						<input
							type="text"
							placeholder="Your Last Name"
							class="account-input"
							name="lastName"
							id="lastName"
							value="<%= typeof lastName != "undefined" ? lastName : '' %> "
							/>
					</div>
					<div>
						<input
							type="email"
							placeholder="Your e-mail address"
							class="account-input"
							name="email"
							id="email"
							value="<%= typeof email != "undefined" ? email : '' %> "
							/>
					</div>
					<div>
						<p style="margin-bottom: 0.25rem">
							Please make sure this is your country of permanent
							residence
						</p>
						<input
							type="text"
							placeholder="Your Country"
							class="account-input"
							name="country"
							id="country"
							value="<%= typeof country != "undefined" ? country : '' %> "
							/>
					</div>
					<div>
						<input
							type="number"
							placeholder="Your Phone Number"
							class="account-input"
							name="phone"
							id="phone"
							value="<%= typeof phone != "undefined" ? phone : '' %> "
							/>
					</div>
					<div>
						<input
							type="password"
							placeholder="Your Password"
							class="account-input"
							name="password"
							id="password"
							value="<%= typeof password != "undefined" ? password : '' %> "
							/>
					</div>
					<div>
						<input
							type="password"
							placeholder="Confirm password"
							class="account-input"
							name="confirmPassword"
							id="confirmPassword"
							value="<%= typeof confirmPassword != "undefined" ? confirmPassword : '' %> "
							/>
					</div>
					<div>
						<input type="checkbox" />
						<span style="margin-left: 0.75rem"
							>I confirm that I am 18 years old or older and
							accept Terms & Conditions, Privacy Policy and Order
							Execution Policy</span
						>
					</div>
					<button type="submit" id="signUp" class="submit-btn">
						LET'S GO!
					</button>
				</form>
			</div>
		</section>

		<section class="disclaimer">
			<p>
				You are granted limited non-exclusive non-transferable rights to
				use the IP provided on this website for personal and
				non-commercial purposes in relation to the services offered on
				the Website only.
			</p>
		</section>
		<%- include('./partials/footer.ejs') %>
		<script src="js/app.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<!-- <script src="/js/scripts/app.js"></script> -->
	</body>
</html>
